/* reset padding,margin */
body {
    margin: 0 !important;
    padding: 0 !important;
}

.red {
    border: 1px solid red;
}

.green {
    border: 1px solid green;
}

.banner {
    height: 1284px;
    background: url('./banner.jpg') center center no-repeat;
    padding: 0px;

    .about-sign_in {
        height: 80px;
        width: 100%;
        text-align: right;

        .about,
        .sign-in {
            margin-top: 20px;
            padding: 8px;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
        }

        .about {
            color: crimson;
        }

        .sign-in {
            margin-right: 60px;
            margin-left: 20px;
            border: 2px solid lawngreen;
            padding: 10px;
            border-radius: 25px;
            color: lawngreen;
        }
    }

    .logo {
        background: url('./Header-Logo1500994616801.png') center center no-repeat;
        margin-top: 40px;
        height: 252px;
    }

    .content-center {

        .left,
        .center,
        .right {
            width: 33%;
            display: inline-block;
            text-align: center;
            margin-top: 20px;
            color: red;

            span {
                display: block;
                font-size: 20px;
            }

            img {
                width: 30px;
                height: 30px;
            }
        }

    }

    .text {
        text-align: center;
        font-family: Roboto;
        font-style: italic;
        letter-spacing: -0.02px;

        span {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-size: 30px;
            color: burlywood;

        }
    }

    .btn {
        text-align: center;
        text-transform: uppercase;

        button {
            border-radius: 100px;
            background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            font-family: Roboto;
            color: #FFFFFF;
            letter-spacing: 1.33px;
            line-height: 21px;
            text-transform: uppercase;
            cursor: pointer;
            height: 40px;
            width: 144px;
        }
    }

}